{{define "profile"}}
<div class="flex flex-col items-center mb-6">
  <img
    src="{{.Picture}}"
    alt="Profile Picture"
    class="object-cover w-64 h-64 mb-4 border-4 shadow-lg rounded-xl border-bgInverted"
  />
  <h2 class="text-2xl font-bold text-center">{{.DisplayName}}</h2>
</div>

<p class="mb-4 text-sm text-center text-textMuted">{{.PublicKey}}</p>

<div class="w-full max-w-2xl p-6 rounded-lg bg-bgPrimary">
  <p class="text-lg text-left">{{.About}}</p>
</div>

<!-- Donation Addresses -->
<div class="w-full max-w-2xl p-6 mt-6 rounded-lg bg-bgPrimary">
  <h3 class="mb-4 text-xl font-semibold text-center">Donation Addresses</h3>
  <ul id="donation-list" class="space-y-2 text-left">
    {{if .DonationTags}} {{range .DonationTags}} {{if (ge (len .) 3)}}
    <!-- Ensure it has at least 3 elements -->
    <li
      class="flex items-center justify-between p-3 rounded-lg shadow bg-bgSecondary"
    >
      <div>
        <strong class="text-lg">{{index . 1}}</strong>:
        <span class="text-sm break-all">{{index . 2}}</span>
        {{if (gt (len .) 3)}} ({{index . 3}}) {{end}}
      </div>
      {{if $.IsOwnProfile}}
      <button
        onclick="removeDonationAddress('{{index . 1}}', '{{index . 2}}', '{{if (gt (len .) 3)}}{{index . 3}}{{end}}')"
      >
        Remove
      </button>
      {{end}}
    </li>
    {{end}} {{end}} {{else}}
    <p class="text-sm text-center text-textMuted">
      No donation addresses set yet.
    </p>
    {{end}}
  </ul>
</div>

<!-- Add Donation Address Form - Only Show if Logged-in User -->
{{if .IsOwnProfile}}
<div class="w-full max-w-2xl p-6 mt-6 rounded-lg bg-bgPrimary">
  <h3 class="mb-4 text-xl font-semibold text-center">
    Add New Donation Address
  </h3>
  <form id="donation-form">
    <div id="donation-fields" class="space-y-3 text-black">
      <div
        class="flex flex-col gap-2 p-4 rounded-lg shadow donation-group bg-bgSecondary"
      >
        <input
          type="text"
          name="ticker_0"
          placeholder="Asset Ticker (e.g., BTC)"
          class="p-2 border rounded border-bgInverted focus:ring focus:ring-accent"
          required
        />
        <input
          type="text"
          name="network_0"
          placeholder="Network (e.g., Bitcoin)"
          class="p-2 border rounded border-bgInverted focus:ring focus:ring-accent"
          required
        />
        <input
          type="text"
          name="address_0"
          placeholder="Receiving Address"
          class="p-2 border rounded border-bgInverted focus:ring focus:ring-accent"
          required
        />
      </div>
    </div>

    <div class="flex flex-col gap-2 mt-4 sm:flex-row">
      <button
        class="p-2 m-2 bg-green-500 rounded-md hover:bg-green-700"
        type="button"
        onclick="addField()"
      >
        + Add More
      </button>
      <button
        type="submit"
        class="p-2 m-2 bg-purple-500 rounded-md hover:bg-purple-700"
      >
        Save
      </button>
    </div>
  </form>
</div>
{{end}}

<script src="/static/js/removeDonationAddress.js"></script>
<script src="/static/js/donationAddressForm.js"></script>
<script src="/static/js/fetchUpdatedProfile.js"></script>
<script src="/static/js/updateDonationLists.js"></script>

{{end}}
