{{define "view"}}
<main class="flex flex-col my-8 md:my-16">
  <div class="flex flex-col space-x-4 md:flex-row">
    <div
      class="w-full p-2 mx-auto rounded-md md:w-3/5 profile-container bg-bgSecondary"
    >
      {{template "profile" .}}
    </div>
  </div>
  <script>
    // Check if the Nostr extension is available
    window.onload = function () {
      if (!window.nostr) {
        alert("Nostr extension not available. Redirecting to login...");
        window.location.href = "/login";
      }
    };
  </script>
</main>
{{end}}
